<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231990312226-ord5ca3u4p357rg3hap6mf8h0hr3s4d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231990312226-ord5ca3u4p357rg3hap6mf8h0hr3s4d8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>231990312226-j88n74pn135iel60soctj6qsrgqquvg9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqiDAmBmwQTeE-vg4IOk8ImJ1CsCDahY0</string>
	<key>GCM_SENDER_ID</key>
	<string>231990312226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akingApp</string>
	<key>PROJECT_ID</key>
	<string>aking-app-4e39d</string>
	<key>STORAGE_BUCKET</key>
	<string>aking-app-4e39d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231990312226:ios:424d854ab9f4a17023f97b</string>
</dict>
</plist>